<!-- Gallery in modal -->
<div class="gallery">
    <ul class="gallery__list">
        <li class="gallery__item">
            <div class="gallery__link">
                <div class="gallery__image">
                    <img src="https://placekitten.com/800/600" alt="Portfolio 1" class="gallery__image-img">
                </div>
                <a href="#" class="gallery__btn">
                    <img src="images/search.png" alt="Show Image">
                </a>
            </div>
        </li>
        <li class="gallery__item">
            <div class="gallery__link">
                <div class="gallery__image">
                    <img src="https://placekitten.com/800/600" alt="Portfolio 2" class="gallery__image-img">
                </div>
                <a href="#" class="gallery__btn">
                    <img src="images/search.png" alt="Show Image">
                </a>
            </div>
        </li>
        <li class="gallery__item">
            <div class="gallery__link">
                <div class="gallery__image">
                    <img src="https://placekitten.com/800/600" alt="Portfolio 3" class="gallery__image-img">
                </div>
                <a href="#" class="gallery__btn">
                    <img src="images/search.png" alt="Show Image">
                </a>
            </div>
        </li>
        <li class="gallery__item">
            <div class="gallery__link">
                <div class="gallery__image">
                    <img src="https://placekitten.com/800/600" alt="Portfolio 4" class="gallery__image-img">
                </div>
                <a href="#" class="gallery__btn">
                    <img src="images/search.png" alt="Show Image">
                </a>
            </div>
        </li>
    </ul>
    <div id="galleryModal" class="modal">
        <span class="close">&times;</span>
        <div class="modal__content">
            <img id="modalImage">
        </div>
        <a href="#" class="prev-image" id="prev-image">&#10094;</a>
        <a href="#" class="next-image" id="next-image">&#10095;</a>
    </div>
</div>